{% extends 'base.html' %}

<head>
    <base target="a_iframe">
</head>

{% block content %}

<center>
<!--    <iframe width="1140" height="541.25" name="a_iframe"-->
<!--        src="http://example.com/"-->
<!--        frameborder="0" allowFullScreen="true"></iframe>-->

<!--    <iframe src="https://www.w3schools.com/"></iframe>-->
<iframe width="1140" height="541.25" name="a_iframe"
        src="https://app.powerbi.com/reportEmbed?reportId=f792268e-89c9-4d0c-b084-5b9b464a719a&autoAuth=true&ctid=935000e5-20b8-430a-949e-8319c10d5bdf&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLW5vcnRoLWNlbnRyYWwtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQifQ%3D%3D"
        frameborder="0" allowFullScreen="true"></iframe>

    </center>
{% endblock %}